<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= title  %> </title>
	<meta name="description" content="Hufiec Jasło - Związek Harcerstwa Polskiego">
	<meta name="keywords" content="Hufiec Jasło, ZHP, Jasło, Madejewscy, Madejewskich">
	<meta name="author" content="Bartłomiej Kufel">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	<link rel="icon" href="images/icon.png">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" >
	<link rel="stylesheet" href="stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
  </head>