<header>
    <img src="images/baner.jpg" class="d-inline-block " style="width: 100%;">
    <nav class="navbar navbar-dark bg-side navbar-expand-md justify-content-end pl-5">
            <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto ">
            <li class="nav-item mr-2"><a class="nav-link" href="/">Strona główna</a></li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link" href="#" data-toggle="dropdown" data-bs-toggle="dropdown" role="button">Gromady Zuchowe</a>
                <div class="dropdown-menu dropdown-navex">
                    <a class="dropdown-item text-white" href="#">22GZ "Niepokonane Leśne Dzikuski"</a>
                    <a class="dropdown-item text-white" href="#">GZ "Liski"</a>
                    <a class="dropdown-item text-white" href="#">GZ "Wilczki"</a>
                    <a class="dropdown-item text-white" href="#">GZ "Dzielne Orły"</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link" href="#" data-toggle="dropdown" data-bs-toggle="dropdown" role="button">Drużyny Harcerskie</a>
                <div class="dropdown-menu dropdown-navex columns">
                    <a class="dropdown-item text-white" href="/cichociemni">166DH "Cichociemni"</a>
                    <a class="dropdown-item text-white" href="/lisy">139DH "Lisy"</a>
                    <a class="dropdown-item text-white" href="/golesz">309DH "Golesz"</a>
                    <a class="dropdown-item text-white" href="/wilki">307DH "Wilki"</a>
                    <a class="dropdown-item text-white" href="#">4DH "Buki"</a>
                    <a class="dropdown-item text-white" href="#">31DH "Sosny"</a>
                    <a class="dropdown-item text-white" href="/plomienie">15DH "Płomienie"</a>
                </div>
            </li>
            <li class="nav-item mr-2"><a class="nav-link" href="kadra.html">Kadra Hufca</a></li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link" href="#" data-toggle="dropdown" data-bs-toggle="dropdown" role="button">Dokumenty</a>
                <div class="dropdown-menu dropdown-navex">
                    <a class="dropdown-item text-white" href="https://e.zhp.pl/">E-ZHPe</a>
                    <a class="dropdown-item text-white" href="#">---</a>
                </div>
                </li>
            <li class="nav-item mr-2"><a class="nav-link" href="/kontakt">Kontakt</a></li>
                
            </ul>
        </div>
    </nav>
</header>