<!DOCTYPE html>
<html>
  <%- include('./includes/head.ejs')%>

  <body>
    <%- include('./includes/header.ejs') %> 

    <main>
        <article>
            <div class="container glownyart my-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h1 text-center ml-2 mb-5 font-weight-bold">Komenda Hufca Jasło</h1>
                    </div>
                    <div class="col-lg-4 my-2">
                        <p class="lead">
                            <p class="komendant text-center font-weight-bold">Komendant Hufca Jasło<br> Iwona Dziedzic</p>
                            <img src="images/166/admin.jpg" class="img-thumbnail mt-4 center komendant mb-0" alt="zdjęcie Komendanta Hufca Jasło"><br>
                            <p class="komendant text-center">jaslo@zhp.net.pl</p>
                        </p>
                    </div>

                    <div class="col-lg-4 my-2">
                        <p class="lead font-weight-bold text-center">
                            <p class="kadraHufca text-center font-weight-bold">Zastępca Komendanta<br> Wojciech Zajdel</p>
                            <img src="images/166/admin.jpg" class="img-thumbnail mt-4 center kadraHufca mb-0" alt="zdjęcie Zastępcy Komendanta"><br>
                            <p class="kadraHufca text-center"> wojciech.zajdel@zh.net.pl</p>
                        </p>
                    </div>

                    <div class="col-lg-4 my-2">
                        <p class="lead font-weight-bold text-center">
                            <p class="kadraHufca text-center font-weight-bold">Skarbnik Hufca<br> Dorota Rzońca</p>
                            <img src="images/166/admin.jpg" class="img-thumbnail mt-4 center kadraHufca mb-0" alt="zdjęcie Skarbnik Hufca"><br>
                            <p class="kadraHufca text-center"> dorota.rzonca@zh.net.pl</p>
                        </p>
                    </div>
                    
                    

                </div>

                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
                
        </article>
    </main>

  <%- include('./includes/footer.ejs') %> 
	  
	
  </body>
</html>
