<!DOCTYPE html>
<html>
  <%- include('./includes/head.ejs')%>

  <body>
    <%- include('./includes/header.ejs') %> 

    <main>
      <div class="container glownyart py-3 mt-5 mb-5">
        <div class="row">
            <h1 class="h1 py-2">Hufiec ZHP Jasło im. Rodziny Madejewskich</h1>
            <div class="col-lg-12 px-5">
              <p class="lead font-weight-bold">O Patronach</p>
              <p class="my-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
              <img src="images/patroni.jpg" class="img-thumbnail float-right ml-2 my-2" alt="zdjęcie patronów Hufca ZHP Jasło">
              of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            
              </p>
            </div>
            

            <div class="col-lg-12 px-5">
              <p class="lead font-weight-bold pt-5">Historia hufca</p>
              <p class="my-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
              <img src="images/tort.jpg" class="img-thumbnail float-right ml-2 my-2" alt="zdjęcie patronów Hufca ZHP Jasło">
              of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            
              </p>
            </div>

        </div>
              

  </main>


  <%- include('./includes/footer.ejs') %> 
	  
	
  </body>
</html>
