.druzynowy{
	border: 4px dashed rgb(12, 12, 111); 
	border-radius: 15px;
	padding: 6px;
	font-size: 19px;
  }
  
  .dh-166{
	border: 3px solid black;
	background:conic-gradient(black 0deg 180deg, rgb(255, 255, 0) 180deg 360deg);
  }

  .dh-139{
	border: 3px solid #d75d04;
	background:#d75d04;
  }
  .dh-307{
    outline: 1px solid rgb(212, 212, 212);
	border: 3px solid white;
	background:#931331;
  }

  .dh-309{
	border: 3px solid black;
	background:#037e61;
  }

  .dh-15{
    border: 3px solid conic-gradient(#aa1c20 0deg 180deg, black 180deg 360deg);
	background:conic-gradient(black 0deg 180deg, #aa1c20 180deg 360deg);
  }